* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
}

body {
    background-color: #1e1e1e;
}

h1 {
    font-weight: bold;
    font-family: "Smooch Sans", sans-serif;
}

.header {
    position: sticky;
}

.header h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
}

.swaps {
    margin: 0 auto;
    text-align: center;
    display: flex; 
    justify-content: center;
}

.swaps button {
    color: #A6CFD5;
    border: 0;
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.25rem;

    background-color: #2b2b2b;
    border-radius: 1rem;
    margin: 0.55rem;
}

.swaps button:hover {
    background-color: #26408B;
    color: #C2E7D9;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:focus {
    outline: none;
}

.mainContainer {
    text-align: center;
    margin: 0 auto;
}

.mainContainer h1{
    color: white;
    font-size: 2rem;
}

.mainContainer .peril {
    border: 0;
    background-color: transparent;
    text-align: center;
    padding: 2rem;
    color: #ABD2FA;
    font-size: 5rem;  
}

.mainContainer .peril img {
    height: 10rem;
    background-color: #2b2b2b;
    border-radius: 1rem;
}

.mainContainer .peril:hover {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.mainContainer .peril img:hover {
    background-color: #26408B;
    transform: scale(110%);
    transition: all 0.5s ease;
}

.mainContainer p {
    color: #ABD2FA;
    font-size: 5rem;
}

.timers button {
    color: #ABD2FA;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #2b2b2b;
    border-radius: 1rem;
    margin: 0.75rem;
    padding: 0.25rem 0.5rem;
}

.timers button:hover {
    color: white;
    background-color: #26408B;
    transition: color 0.2s ease;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 1rem;
    width: 100%;
}

#footer h1, a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

#footer a:hover {
    color: #ABD2FA;
}

#help {
    z-index: 99;
}

#help img {
    cursor: pointer;
    position: fixed;
    margin: 1rem;
    right: 0;
    bottom: 0;
    width: 2rem;
}

#helpText {
    background-color: #ABD2FA;
    border-radius: 1rem;
    color: #1e1e1e;
    display: none;
    text-align: left;
    font-size: 0.75rem;
    z-index: 99;

    position: fixed;
    margin: 1rem;
    right: 0;
    bottom: 2.5rem;

    max-width: 20rem;
    background-color: #ABD2FA;
    display: none;
    padding: 1rem;
    z-index: 999;
}   

#helpText a {
    color: darkblue;
    font-size: 0.75rem;
}

#helpText a:hover {
    color: blue;
}